<div class="<%= col_class %>">
  <% (@pbcore.aapb_url || @pbcore.boston_tv_news_url).tap do |site_url| %>
    <% if site_url %>
      <p>
        <% verb = @pbcore.video? ? 'View' : 'Listen' %>
        <% site_name = @pbcore.aapb_url ? 'American Archive of Public Broadcasting' : 'Boston TV News Digital Library' %>
        <%= verb %> online at the 
        <a href="<%= site_url %>" target="_blank"><%= site_name %>
          <small><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></small></a>
      </p>
    <% end %>
  <% end %>  

  <% if @pbcore.this_isnt_all? %>
    <p>
      More material is available from this program at the WGBH Archive.
      If you are a researcher interested in accessing the collection at WGBH, 
      please email <a href="mailto:archive_requests@wgbh.org">archive_requests@wgbh.org</a>.
    </p>
  <% end %>
    
  <% if !@pbcore.digitized? %>
    <p>
      Undigitized item:
      <span class="btn btn-primary btn-sm" 
            onclick="$('#request-modal').modal('show');">
          Request Digitization</span>
    </p>
  <% end %>
</div>
